* {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
}

html {
  color-scheme: light dark;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.container {
  width: min(120ch, calc(100% - 2rem));
  margin-inline: auto;
}

main {
  flex-grow: 1;
  width: min(80ch, calc(100% - 2rem));
  margin-inline: auto;
  padding: 3em;
  display: block;
}

section {
  padding: 1em 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

.list {
  padding: 1em 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
